h1= title
form(id="formUserLogin", method="post", action="")
    label(for="pseudo") Pseudo
    input(type="text", name="pseudo", id="pseudo")
    input(type="submit", value="Login")
p Or new users can 
    a(href="/user/new") sign up
