extends layout

block content
  h1= title
  form(id="formUserProfile", method="post", action="")
      label(for="pseudo") Pseudo
      input(type="text", name="pseudo", id="pseudo")
      input(type="submit", value="#{buttonText}" class="submit")
