* {
    box-sizing: border-box; /* width does not include padding and border */
}

body {
    font-family: Arial;
    background-color: rgb(228, 241, 254);
    overflow-x: hidden;
}

img#logo {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 60px;
    height: 60px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #080810;
    margin-top: 10px;
}

h2.subtitle {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    color: #686860;
}

#spiral-creator {
    margin: 20px;
    width: 100%;
    text-align:center;
    display: inline-block;
}

#my-galaxy {
    height: 400px;
    width: 100%;
}

#real-galaxy {
    height: 400px;
    width: 100%;

    background-color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#params-galaxy {
    margin-top:20px;
    margin-right: 40px;
}

#all-thumbnails {
    opacity: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    clip-path: inset(0px 1.5px 0px 1.5px);

    transition: opacity 0.5s ease-in-out;
}

#real-galaxy:hover #all-thumbnails {
    opacity: 1;
}

.thumbnail {
    position: absolute;
    left: 100%;
    padding: 0;
    margin-right: 1px;
    height: 100px;
    width: 25%;
    float: left;
    border-radius: 0;
    border: none;
}

#arrow-left {
    position: relative;
    z-index: 2;
    float: left;
    color: white;
    height: 100%;
    background-color: #000000;
    line-height: 100px;
    vertical-align: middle;
}

#arrow-right {
    position: relative;
    z-index: 2;
    float: right;
    color: white;
    height: 100%;
    background-color: #000000;
    line-height: 100px;
    vertical-align: middle;
}

ul {
    padding-left: 0px;
}

.title-galaxy {
    font-size: 14px;
}

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
