* {
    box-sizing: border-box; /* width does not include padding and border */
}

body {
    font-family: Arial;
    background-color: rgb(228, 241, 254);
    overflow-x: hidden;
}

.navbar {
    background-color: #080810;
}

p {
    font-size: 18px;
    color: #444444;
    line-height: 1.5;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #080810;
    color: #ddd;
    font-size: 16px;
    vertical-align: middle;
}

footer a {
    color: #aaa;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

img#logo {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 60px;
    height: 60px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #080810;
    margin-top: 10px;
}

h2.subtitle {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    color: #686860;
}

#spiral-creator {
    margin: 20px;
    width: 100%;
    text-align:center;
    display: inline-block;
}

#my-galaxy {
    height: 400px;
    width: 100%;
}

#galaxy-picture {
    height: 400px;
    width: 100%;

    background-color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#params-galaxy {
    margin-top:20px;
    margin-right: 40px;
}

#all-thumbnails {
	position: relative;
    opacity: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;

    transition: opacity 0.5s ease-in-out;
}

#galaxy-picture:hover #all-thumbnails {
    opacity: 1;
}

.thumbnail {
    position: absolute;
    left: 100%;
    padding: 0;
    margin-right: 1px;
    height: 100px;
    width: 25%;
    float: left;
    border-radius: 0;
    border: none;
}

#arrow-left {
    width:5%;
    font-size:1.2em;
    opacity: 0.5;
    position: relative;
    z-index: 2;
    float: left;
    color: white;
    height: 100%;
    line-height: 100px;
    vertical-align: middle;
}

#arrow-left:hover {
    opacity: 1;
}

#arrow-right {
    width:5%;
    font-size:1.2em;
    opacity: 0.5;
    position: relative;
    z-index: 2;
    float: right;
    color: white;
    height: 100%;
    line-height: 100px;
    vertical-align: middle;
}

#arrow-right:hover {
    opacity: 1;
}

#galaxy-information > .row {
    margin-top: 0.5em;
}

#galaxy-information label {
    margin-right: 0.4em;
}

#name-galaxy {
    margin-bottom: 1em;
}

#description-galaxy {
    margin-top: 1em;
}

ul {
    padding-left: 0px;
}

.title-galaxy {
    font-size: 14px;
}

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #000;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #a9a9a9;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
